@use "./variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $lato;
}

body {
  background-color: $canvas-color;
  color: $black;
  line-height: 1.5rem;
  overflow-x: hidden;

  .dialog-off-canvas-main-canvas > .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 15px;

    @media (min-width: $lg) {
      padding: 0 30px;
    }

    > header {
      .region-header {
        margin: 0 auto;
        max-width: 1200px;
        padding: 15px;
        position: relative;

        @media (min-width: $lg) {
          align-items: center;
          column-gap: 30px;
          display: flex;
        }
      }
    }

    > footer {
      margin-top: auto;
    }
  }
}

hr {
  margin: 15px 0;
}

a {
  &:not(:hover) {
    text-decoration: none;
  }
}

h1.page-title {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: $raleway;
  padding: 70px 50px 0;
  position: relative;
  row-gap: 20px;

  &::after {
    background-color: black;
    content: "";
    display: block;
    height: 4px;
    width: 40px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $raleway;
  margin: 16px 0 12px;
}

h2 {
  font-size: 1.802rem;
}

h3 {
  font-size: 1.602rem;
}

h4 {
  font-size: 1.424rem;
}

h5 {
  font-size: 1.266rem;
}

h6 {
  font-size: 1.125rem;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  /* stylelint-disable-next-line */
  width: -webkit-fill-available;
  width: fill-available;

  > .layout {
    display: flex;
    flex-wrap: wrap;

    .layout-content,
    .layout-sidebar-second {
      /* stylelint-disable-next-line */
      width: -webkit-fill-available;
      width: fill-available;
    }

    .layout-sidebar-second {
      order: -1;
    }

    @media (min-width: $lg) {
      flex-wrap: nowrap;

      .layout-sidebar-second {
        order: 2;
        width: 300px;
      }
    }
  }
}

.node {
  background-color: #fff;

  &--type-page,
  &--type-contact-page {
    padding: 50px 50px 150px;
  }

  &--type-contact-page .layout {
    row-gap: 100px;

    @media (min-width: $md) {
      &.layout--twocol-section--50-50 {
        column-gap: 30px;

        > .layout__region {
          flex: 0 1 calc(50% - 15px);
        }
      }
    }
  }

  &--type-welcome-page {
    margin-top: 40px;
  }
}
