@use "./variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $lato;
}

body {
  background-color: $canvas-color;
  color: $black;
  line-height: 1.5rem;
  overflow-x: hidden;

  .dialog-off-canvas-main-canvas > .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > header {
      .region-header {
        margin: 0 auto;
        max-width: 1400px;
        padding: 15px;
        position: relative;

        @media (min-width: $lg) {
          align-items: center;
          column-gap: 30px;
          display: flex;
        }
      }
    }

    > footer {
      margin-top: auto;
    }
  }
}

a {
  &:not(:hover) {
    text-decoration: none;
  }
}

h1.page-title {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 70px 50px 0;
  position: relative;
  row-gap: 20px;

  &::after {
    background-color: black;
    content: "";
    display: block;
    height: 4px;
    width: 30px;
  }
}

main {
  margin: 0 auto;
  max-width: 1400px;

  .layout {
    display: flex;
  }
}
