@use "./variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $lato;
}

body {
  background-color: #f4f4f4;
  color: $black;
  line-height: 1.25rem;
}

a {
  &:not(:hover) {
    text-decoration: none;
  }
}
