@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: local("Lato"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  src: local("Raleway"),
    url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Raleway;
  font-weight: 600;
  font-style: normal;
  src: local("Raleway"),
    url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  src: local("Raleway"),
    url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}
