// Colors
$brand-color: #004987;
$company-color: #e94519;
$black: #2f2f2f;
$border-color: #ddd;
$border-hover-color: #3ab0e0;
$canvas-color: #f4f4f4;

// Fonts
$lato: "Lato", sans-serif;
$raleway: "Raleway", sans-serif;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
