// Colors
$first-brand-color: #004987;
$second-brand-color: #e94519;
$black: #2f2f2f;
$border-color: #ddd;

// Fonts
$lato: "Lato", sans-serif;
$raleway: "Raleway", sans-serif;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
