@use '../base/variables.scss' as *;

.block-block-content4fdaf692-5b8b-4a45-8ee1-9a4dd82d6abb {
  border-top: 1px solid $border-color;
  margin: 100px 0 50px;
  padding-top: 50px;

  a {
    color: $first-brand-color;
  }

  &.without_logo {
    a {
      color: $second-brand-color;
    }

    @media (min-width: $md) {
      .layout__region--first {
        grid-template-columns: auto 1fr;

        &>.block:nth-child(3) {
          grid-column: 2;
        }
      }
    }
  }

  .field--name-field {
    &-text-formatted-long {
      text-align: right;
    }
  }

  @media (min-width: $md) {
    .layout__region--first {
      column-gap: 30px;
      display: grid;
    }
  }
}
